In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(
    '/home/jennifer/Escritorio/Datos/arbolito1.csv'
)

In [32]:
df.head()

     gen  homocigoto      tipo_variante cluster sexo    edad1
0  BRCA2       False  nonsynonymous SNV      c3    M  (0, 10]
1  BRCA2       False     synonymous SNV      c3    M  (0, 10]
2  BRCA2       False  nonsynonymous SNV      c3    M  (0, 10]
3  BRCA2       False     synonymous SNV      c3    M  (0, 10]
4  BRCA2       False     synonymous SNV      c3    M  (0, 10]

In [4]:
df1 = df[df.sexo == 'F']
df2 = df1[df1.sexo == 'M']

In [28]:
tipo = df.tipo_variante.value_counts()

In [33]:
edad = df.edad1.value_counts()

In [34]:
gen = df.gen.value_counts()

In [35]:
homocitogoto = df.homocigoto.value_counts()

In [36]:
sexo = df.sexo.value_counts()

In [39]:
cluster = df.cluster.value_counts()

In [69]:
conteos = pd.concat([tipo, edad, homocitogoto,sexo,cluster], axis=0)

In [71]:
conteos

synonymous SNV       717
nonsynonymous SNV    702
stopgain               1
(0, 10]              591
(10, 20]             261
(30, 40]             223
(40, 50]             145
(20, 30]              91
(50, 60]              75
(60, 70]              34
True                 789
False                631
F                    820
M                    600
c2                   309
c5                   301
c3                   274
c1                   269
c4                   267
dtype: int64

In [72]:
conteos.columns = ["Caracteristica", "No. de observaciones"]

In [73]:
conteos

synonymous SNV       717
nonsynonymous SNV    702
stopgain               1
(0, 10]              591
(10, 20]             261
(30, 40]             223
(40, 50]             145
(20, 30]              91
(50, 60]              75
(60, 70]              34
True                 789
False                631
F                    820
M                    600
c2                   309
c5                   301
c3                   274
c1                   269
c4                   267
dtype: int64

In [75]:
df = pd.read_csv(
    '/home/jennifer/Escritorio/conteos.csv'
)

In [77]:
df.to_csv('conteos.csv',index = False)

In [26]:
(df[df.sexo == 'M'].value_counts()

SyntaxError: unexpected EOF while parsing (<ipython-input-26-3fdcde8c5288>, line 1)

In [78]:
rows=df.to_dict('records')

In [79]:
rows

[{'Caracteristica': 'synonymous SNV',
  'Datos': 'Tipo de variante',
  'No. de Observaciones': 717},
 {'Caracteristica': 'nonsynonymous SNV',
  'Datos': 'Tipo de variante',
  'No. de Observaciones': 702},
 {'Caracteristica': 'stopgain',
  'Datos': 'Tipo de variante',
  'No. de Observaciones': 1},
 {'Caracteristica': '(0, 10]', 'Datos': 'Edad', 'No. de Observaciones': 591},
 {'Caracteristica': '(10, 20]', 'Datos': 'Edad', 'No. de Observaciones': 261},
 {'Caracteristica': '(30, 40]', 'Datos': 'Edad', 'No. de Observaciones': 223},
 {'Caracteristica': '(40, 50]', 'Datos': 'Edad', 'No. de Observaciones': 145},
 {'Caracteristica': '(20, 30]', 'Datos': 'Edad', 'No. de Observaciones': 91},
 {'Caracteristica': '(50, 60]', 'Datos': 'Edad', 'No. de Observaciones': 75},
 {'Caracteristica': '(60, 70]', 'Datos': 'Edad', 'No. de Observaciones': 34},
 {'Caracteristica': 'True',
  'Datos': 'Homocigoto',
  'No. de Observaciones': 789},
 {'Caracteristica': 'False',
  'Datos': 'Homocigoto',
  'No. de Observaciones': 631},
 {'Caracteristica': 'F', 'Datos': 'Sexo', 'No. de Observaciones': 820},
 {'Caracteristica': 'M', 'Datos': 'Sexo', 'No. de Observaciones': 600},
 {'Caracteristica': 'c2', 'Datos': 'Grupo', 'No. de Observaciones': 309},
 {'Caracteristica': 'c5', 'Datos': 'Grupo', 'No. de Observaciones': 301},
 {'Caracteristica': 'c3', 'Datos': 'Grupo', 'No. de Observaciones': 274},
 {'Caracteristica': 'c1', 'Datos': 'Grupo', 'No. de Observaciones': 269},
 {'Caracteristica': 'c4', 'Datos': 'Grupo', 'No. de Observaciones': 267}]

In [87]:
dff = pd.DataFrame(rows)

In [88]:
dff['Datos']

0     Tipo de variante
1     Tipo de variante
2     Tipo de variante
3                 Edad
4                 Edad
5                 Edad
6                 Edad
7                 Edad
8                 Edad
9                 Edad
10          Homocigoto
11          Homocigoto
12                Sexo
13                Sexo
14               Grupo
15               Grupo
16               Grupo
17               Grupo
18               Grupo
Name: Datos, dtype: object